[submodule "admin-frontend-domain"]
	path = admin-frontend-domain
	url = ../admin-frontend-domain.git
[submodule "nezha-dash-v1"]
	path = nezha-dash-v1
	url = ../nezha-dash-v1.git
[submodule "nezha_domains"]
	path = nezha_domains
	url = ../nezha_domains.git
